/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { GoCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { GoError } from "../models/errors/go-error.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/http-client-errors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/response-validation-error.js";
import { SDKValidationError } from "../models/errors/sdk-validation-error.js";
import * as models from "../models/index.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Fetch interaction JSON schemas
 *
 * @remarks
 * Retrieves design-time JSON schemas for the interactions in a delivery — what information the journey
 * expects a user to complete, which fields are required, and what shape they take.
 *
 * Identifiers are short on both sides; this endpoint never accepts or returns a GRN.
 * `resourceId` is the same short identifier `POST /journey/start` takes (`my-delivery@latest`), and the
 * organization is derived from your token. The response reports the short `deliveryId` plus
 * `resolvedVersion`, the concrete revision it resolved — join them as `<deliveryId>@<resolvedVersion>` to
 * pin `/journey/start` to exactly the revision these schemas describe (`@latest` is an alias, not a
 * snapshot).
 *
 * Two caveats on that pin. `/journey/start` serves from a cache, so it can briefly run a revision behind
 * the one described here. And the pin is only startable when the delivery lives in your token's primary
 * organization: this endpoint also searches organizations granted by the token's `x_orgs` federation
 * claim, which `/journey/start` does not, so a delivery found only through federation is readable here
 * but not startable with the same token.
 *
 * Known limitation on that federated search: a delivery that a parent organization *linked* into yours
 * is not currently followed to its source and reports 404 here, even though `/journey/start` can run it.
 *
 * Filters by `interactionId` and/or `instruction` are optional; `instruction` requires `interactionId`.
 * `interactionId` is the short interaction id (e.g. `segment1`) — a GRN, or a short id carrying an
 * `@version` suffix, is rejected with 400.
 *
 * Note: the `interactionId` reported here is a design-time label for reading the journey. It is not the
 * identifier `POST /journey/interaction/submit` expects — that one comes from
 * `POST /journey/interaction/fetch`, which uses the runtime's own identifiers.
 *
 * If set, this operation will use {@link Security.customerAccess} from the global security.
 */
export function journeysGetSchemas(
  client: GoCore,
  request?: operations.GetJourneySchemasRequest | undefined,
  options?: RequestOptions,
): APIPromise<
  Result<
    models.SchemaFetchResponse,
    | errors.ErrorResponse
    | GoError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: GoCore,
  request?: operations.GetJourneySchemasRequest | undefined,
  options?: RequestOptions,
): Promise<
  [
    Result<
      models.SchemaFetchResponse,
      | errors.ErrorResponse
      | GoError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      z.parse(
        z.optional(operations.GetJourneySchemasRequest$outboundSchema),
        value,
      ),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = payload === undefined
    ? null
    : encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/v2/captain/journey/schema/fetch")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.customerAccess);
  const securityInput = secConfig == null ? {} : { customerAccess: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput, [0]);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "getJourneySchemas",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.customerAccess,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    models.SchemaFetchResponse,
    | errors.ErrorResponse
    | GoError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, models.SchemaFetchResponse$inboundSchema),
    M.jsonErr([400, 401, 404, 422], errors.ErrorResponse$inboundSchema),
    M.jsonErr([500, 503], errors.ErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
