openapi: 3.1.0
info:
  title: GBG GO Journey API
  version: 2.x
  description: GBG GO API for orchestrating identity verification journeys.
  contact:
    name: GBG GO Team
  license:
    name: Proprietary
servers:
  - url: https://eu.platform.go.gbgplc.com
    description: EU
  - url: https://us.platform.go.gbgplc.com
    description: US
  - url: https://au.platform.go.gbgplc.com
    description: AU
tags:
  - name: Authentication
    description: Obtain an access token to authenticate API requests (GBG auth server)
  - name: Journey
    description: Journey lifecycle management (Customer Token required)
  - name: Interaction
    description: User interaction management (End-User Token required)
  - name: Device
    description: Device authentication and token exchange
  - name: Sandbox
    description: Sandbox scenario management (Customer Token required)
security: []
components:
  securitySchemes:
    CustomerAccess:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Customer JWT token for journey lifecycle operations. Required for: journey/start, journey/state/fetch, device/start
    InteractionAccess:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        End-User JWT token for end-user scoped operations. Required for: interaction/fetch, interaction/submit, device/validate
  schemas:
    JourneyStartResponse:
      type: object
      properties:
        instanceId:
          type: string
        instanceUrl:
          type: string
        status:
          type: string
          enum:
            - started
        message:
          type: string
      required:
        - instanceId
        - status
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/GbgError'
          minItems: 1
      required:
        - errors
    GbgError:
      type: object
      properties:
        code:
          type: string
          pattern: ^\d{4}$
        name:
          type: string
          minLength: 1
        problem:
          type: string
          minLength: 1
        action:
          type: string
          minLength: 1
        location:
          type: string
          enum:
            - Path
            - Authorization
            - Header
            - Query String
            - Request
            - Body
            - Service
            - Flow
      required:
        - code
        - name
        - problem
        - action
    InteractionFetchResponse:
      type: object
      properties:
        instanceId:
          type: string
        interactionId:
          type: string
        journey:
          type: object
          properties:
            status:
              type: string
          required:
            - status
        interaction:
          type: object
          additionalProperties: {}
        context:
          type: object
          additionalProperties: {}
        instructions: {}
        outstanding: {}
        outstandingGroups:
          type: array
          items:
            type: object
            properties:
              elementId:
                type: string
              cardinality:
                type: string
                enum:
                  - at-least-one
              refs:
                type: array
                items:
                  type: string
            required:
              - elementId
              - cardinality
              - refs
        processing:
          type: boolean
        result:
          type: object
          additionalProperties: {}
        joinedDevice:
          type: object
          properties:
            connected:
              type: boolean
          required:
            - connected
      required:
        - instanceId
        - journey
    SlimInteractionFetchResponse:
      type: object
      properties:
        instanceId:
          type: string
        interactionId:
          type: string
        journey:
          type: object
          properties:
            status:
              type: string
              enum:
                - InProgress
                - Completed
                - Failed
                - Paused
          required:
            - status
        interaction:
          type: object
          additionalProperties: {}
        processing:
          type: boolean
        outstanding:
          type: array
          items:
            type: string
        outstandingGroups:
          type: array
          items:
            type: object
            properties:
              elementId:
                type: string
              cardinality:
                type: string
                enum:
                  - at-least-one
              refs:
                type: array
                items:
                  type: string
            required:
              - elementId
              - cardinality
              - refs
        instructions:
          type: array
          items:
            type: string
        result:
          $ref: '#/components/schemas/SlimResult'
        joinedDevice:
          type: object
          properties:
            connected:
              type: boolean
          required:
            - connected
      required:
        - instanceId
        - journey
    SlimResult:
      type: object
      properties:
        outcome:
          type: string
        status:
          type: string
          enum:
            - pending
            - complete
            - error
            - timeout
          description: >-
            Headline result state, and the AUTHORITATIVE signal for whether the journey succeeded. `complete` means the journey finished. `error` means it ended in failure: either a module reported a terminal error, or the platform abandoned the journey before it could finish (a deadlock, an interaction or execution timeout, or a spin). Abandonment is reported as `error` rather than as a distinct value. `pending` is reported for a running journey once its state has materialized. `timeout` is part of this range but is not currently emitted at journey level — an elapsed deadline surfaces as `error`. When `status` disagrees with `outcome` or `outcomeClassification`, `status` wins: a journey can pass an evaluation and then fail before finishing, leaving a positive classification beside `status: "error"`. Both are true — the evaluation did pass — but the journey did not complete, so do not read a positive classification as success. Note also that an `error` caused by abandonment is generally NOT retryable — a deadlocked journey deadlocks again — even though the accompanying error advises a retry; start a new journey instead.
        outcomeClassification:
          type:
            - string
            - 'null'
          enum:
            - positive
            - negative
            - neutral
            - null
        errors:
          type: array
          items:
            $ref: '#/components/schemas/GbgError'
          minItems: 1
        data:
          $ref: '#/components/schemas/SlimVerifiedData'
    SlimVerifiedData:
      type: object
      properties:
        identity:
          $ref: '#/components/schemas/SlimIdentity'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/SlimDocument'
      description: >-
        Verified-output slice (OQ-A). May be transiently ABSENT on a journey already reporting `status: complete`: the certified view materializes just after the completion signal, so a client reading `data` the instant it sees `complete` may need to re-poll once. Absent `data` means "not yet available", not "no verified data". (Read-after-write closure tracked in GGO-16738.)
    SlimIdentity:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          description: Title of an individual such as Mr, Mrs, Dr, Sir
        firstName:
          type: string
          minLength: 1
          description: A person's name used by their collegues and friends to address them
        middleNames:
          type: array
          items:
            type: string
            minLength: 1
          description: Any other registered names used by the individual, not aliases
        lastNames:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
          description: Any family names for the individual
        lastNamesAtBirth:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
          description: Any family names for the individual
        dateOfBirth:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
          description: >-
            Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
        gender:
          type: string
          minLength: 1
        currentAddress:
          type: object
          properties:
            lines:
              type: array
              items:
                type: string
              description: Unformatted line based address
            addressString:
              type: string
              description: The address as a single line
            premise:
              type: string
              description: >-
                The number identifying the property's delivery point on its street — "128", "30A", "8-12". Not the street name (thoroughfare), the unit (subBuilding), or a building or property name (building). Empty for a property identified only by a name.
            building:
              type: string
              description: >-
                The name of the building, complex, or named property — "Landmark House", "The Shard". Never the street number, in any country; that is premise. A property identified only by a name populates this field with premise left empty.
            subBuilding:
              type: string
              description: >-
                The unit within the property, such as a flat, apartment or suite number — "FLAT 1", "SUITE 212".
            thoroughfare:
              type: string
              description: >-
                This field holds the most common street or block data element within a country. For instance, USA Street
            dependentThoroughfare:
              type: string
              description: The name of a dependent street or block, such as a street within a complex.
            locality:
              type: string
              description: >-
                This field holds the most common population center data element within a country. For instance, USA City, Canadian Municipality
            dependentLocality:
              type: string
              description: >-
                This is a smaller area within a locality, such as a neighborhood or district. Like Manhattan in New York City, or Soho in London.
            doubleDependentLocality:
              type: string
              description: >-
                This is an even smaller area within a dependent locality, often used in very detailed addresses.
            postalCode:
              type: string
              description: >-
                This field contains the complete postal code for a particular delivery point, should such detail be able to be determined. For example ZIP code in the US
            postBox:
              type: string
              description: >-
                This field contains the post box number associated with a particular delivery point, should one exist.
            country:
              type: string
              pattern: ^[A-Z]{2,3}$
              description: Country the address is in. It must be a valid ISO2 or ISO3 country code
            superAdministrativeArea:
              type: string
            administrativeArea:
              type: string
            subAdministrativeArea:
              type: string
            organization:
              type: string
            location:
              type: object
              properties:
                latitude:
                  type: string
                longitude:
                  type: string
                geoAccuracy:
                  type: string
                what3words:
                  type: string
                  description: A What3words designation associated with this location with '.' separator.
        placeOfBirth:
          type: object
          properties:
            lines:
              type: array
              items:
                type: string
              description: Unformatted line based address
            addressString:
              type: string
              description: The address as a single line
            premise:
              type: string
              description: >-
                The number identifying the property's delivery point on its street — "128", "30A", "8-12". Not the street name (thoroughfare), the unit (subBuilding), or a building or property name (building). Empty for a property identified only by a name.
            building:
              type: string
              description: >-
                The name of the building, complex, or named property — "Landmark House", "The Shard". Never the street number, in any country; that is premise. A property identified only by a name populates this field with premise left empty.
            subBuilding:
              type: string
              description: >-
                The unit within the property, such as a flat, apartment or suite number — "FLAT 1", "SUITE 212".
            thoroughfare:
              type: string
              description: >-
                This field holds the most common street or block data element within a country. For instance, USA Street
            dependentThoroughfare:
              type: string
              description: The name of a dependent street or block, such as a street within a complex.
            locality:
              type: string
              description: >-
                This field holds the most common population center data element within a country. For instance, USA City, Canadian Municipality
            dependentLocality:
              type: string
              description: >-
                This is a smaller area within a locality, such as a neighborhood or district. Like Manhattan in New York City, or Soho in London.
            doubleDependentLocality:
              type: string
              description: >-
                This is an even smaller area within a dependent locality, often used in very detailed addresses.
            postalCode:
              type: string
              description: >-
                This field contains the complete postal code for a particular delivery point, should such detail be able to be determined. For example ZIP code in the US
            postBox:
              type: string
              description: >-
                This field contains the post box number associated with a particular delivery point, should one exist.
            country:
              type: string
              pattern: ^[A-Z]{2,3}$
              description: Country the address is in. It must be a valid ISO2 or ISO3 country code
            superAdministrativeArea:
              type: string
            administrativeArea:
              type: string
            subAdministrativeArea:
              type: string
            organization:
              type: string
            location:
              type: object
              properties:
                latitude:
                  type: string
                longitude:
                  type: string
                geoAccuracy:
                  type: string
                what3words:
                  type: string
                  description: A What3words designation associated with this location with '.' separator.
        idNumbers:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                description: The type of phone number, such as landline, mobile, fax, unknown etc
              idNumber:
                type: string
                minLength: 1
                description: ID number eg, National Insurance Number in UK, Social Securtiy Number in US
              country:
                type: string
                pattern: ^[A-Z]{2,3}$
                description: Country the address is in. It must be a valid ISO2 or ISO3 country code
            required:
              - type
              - idNumber
    SlimDocument:
      type: object
      properties:
        type:
          type: string
        category:
          type: string
        subType:
          type: string
        format:
          type: string
        number:
          type: string
          minLength: 1
        issueDate:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
          description: >-
            Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
        expiryDate:
          type: string
          pattern: ^\d{4}-\d{2}-\d{2}$
          description: >-
            Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
        country:
          type: string
          pattern: ^[A-Z]{2,3}$
          description: Country the address is in. It must be a valid ISO2 or ISO3 country code
        classification:
          type: object
          properties:
            ids:
              type: array
              items:
                type: string
            category:
              type: string
            type:
              type: string
            subtype:
              type: string
            isDoubleSided:
              type: boolean
            hasNFC:
              type: boolean
            year:
              type: string
            countryCode:
              type: string
            countryName:
              type: string
            stateCode:
              type: string
            stateName:
              type: string
            sides:
              type: array
              items:
                type: object
                properties:
                  side:
                    type: string
                  id:
                    type: string
                  documentQuality:
                    type: string
                  documentQualityScore:
                    type: number
                required:
                  - side
                  - id
                  - documentQuality
                  - documentQualityScore
        extraction:
          $ref: '#/components/schemas/SlimExtraction'
        validation:
          $ref: '#/components/schemas/SlimValidation'
    SlimExtraction:
      type: object
      properties:
        aggregatedFields:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              value:
                type: string
              source:
                type: string
              isNonLatin:
                type: boolean
              regionOfInterest:
                type: object
                properties:
                  boundingBox:
                    type: object
                    properties:
                      x:
                        type: number
                      'y':
                        type: number
                      width:
                        type: number
                      height:
                        type: number
                    required:
                      - x
                      - 'y'
                      - width
                      - height
                  side:
                    type: string
                  spectrum:
                    type: string
                  imageId:
                    type: string
                required:
                  - side
            required:
              - label
              - value
              - source
              - isNonLatin
        extractedFields:
          type: array
          items:
            type: object
            properties:
              label:
                type: string
              details:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      type: string
                    value:
                      type: string
                    source:
                      type: string
                    isNonLatin:
                      type: boolean
                    regionOfInterest:
                      type: object
                      properties:
                        boundingBox:
                          type: object
                          properties:
                            x:
                              type: number
                            'y':
                              type: number
                            width:
                              type: number
                            height:
                              type: number
                          required:
                            - x
                            - 'y'
                            - width
                            - height
                        side:
                          type: string
                        spectrum:
                          type: string
                        imageId:
                          type: string
                      required:
                        - side
                  required:
                    - label
                    - value
                    - source
                    - isNonLatin
            required:
              - label
              - details
    SlimValidation:
      type: object
      properties:
        validationChecks:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              title:
                type: string
              validationResult:
                type: string
              weight:
                type: string
              regionOfInterests:
                type: array
                items:
                  type: object
                  properties:
                    boundingBox:
                      type: object
                      properties:
                        x:
                          type: number
                        'y':
                          type: number
                        width:
                          type: number
                        height:
                          type: number
                      required:
                        - x
                        - 'y'
                        - width
                        - height
                    side:
                      type: string
                    spectrum:
                      type: string
                    imageId:
                      type: string
                  required:
                    - side
              type:
                type: string
            required:
              - name
              - title
              - validationResult
              - weight
              - type
        aggregatedValidationChecks:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              title:
                type: string
              validationResult:
                type: string
              weight:
                type: string
              regionOfInterests:
                type: array
                items:
                  type: object
                  properties:
                    boundingBox:
                      type: object
                      properties:
                        x:
                          type: number
                        'y':
                          type: number
                        width:
                          type: number
                        height:
                          type: number
                      required:
                        - x
                        - 'y'
                        - width
                        - height
                    side:
                      type: string
                    spectrum:
                      type: string
                    imageId:
                      type: string
                  required:
                    - side
              type:
                type: string
            required:
              - name
              - title
              - validationResult
              - weight
              - type
    InteractionSubmitResponse:
      type: object
      properties:
        status:
          type: string
          enum:
            - success
      required:
        - status
    HandoffTokenResponse:
      type: object
      properties:
        instanceUrl:
          type: string
        devicePosition:
          type: string
          enum:
            - origin
            - joined
        expiresIn:
          type: number
      required:
        - instanceUrl
        - devicePosition
        - expiresIn
    LoqateSearchResponse:
      type: object
      properties:
        Items:
          type: array
          items:
            type: object
            additionalProperties: {}
      required:
        - Items
    LoqateRetrieveResponse:
      type: object
      properties:
        Items:
          type: array
          items:
            type: object
            additionalProperties: {}
      required:
        - Items
    StateFetchResponse:
      type: object
      properties:
        instanceId:
          type: string
        status:
          type: string
        context:
          type: object
          additionalProperties: {}
        result:
          type: object
          additionalProperties: {}
      required:
        - instanceId
        - status
    SlimStateFetchResponse:
      type: object
      properties:
        instanceId:
          type: string
        status:
          type: string
          enum:
            - InProgress
            - Completed
            - Error
        journey:
          $ref: '#/components/schemas/SlimJourney'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/SlimStep'
        result:
          $ref: '#/components/schemas/SlimResult'
      required:
        - instanceId
        - status
    SlimJourney:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
        startedAt:
          type: string
        endedAt:
          type: string
    SlimStep:
      type: object
      properties:
        nodeId:
          type: string
        name:
          type: string
        outcome:
          type: string
        outcomeClassification:
          type:
            - string
            - 'null'
          enum:
            - positive
            - negative
            - neutral
            - null
      required:
        - nodeId
    SchemaFetchResponse:
      type: object
      properties:
        deliveryId:
          type: string
        resolvedVersion:
          type: string
        schemas:
          type: array
          items:
            type: object
            properties:
              interactionId:
                type: string
              instruction:
                type: string
              schema:
                type: object
                additionalProperties: {}
            required:
              - interactionId
              - schema
      required:
        - deliveryId
        - resolvedVersion
        - schemas
    TaskSchemaResponse:
      type: object
      additionalProperties: {}
    TerminateResponse:
      type: object
      properties:
        instanceId:
          type: string
      required:
        - instanceId
    DeleteResponse:
      type: object
      properties:
        instanceId:
          type: string
        status:
          type: string
          enum:
            - deleted
        message:
          type: string
      required:
        - instanceId
        - status
        - message
    DeviceStartResponse:
      type: object
      properties:
        connectToken:
          type: string
        tokenType:
          type: string
          enum:
            - connect
        expiresIn:
          type: number
        scope:
          type: array
          items:
            type: string
      required:
        - connectToken
        - tokenType
        - expiresIn
        - scope
    DeviceConnectResponse:
      type: object
      properties:
        endUserToken:
          type: string
        tokenType:
          type: string
          enum:
            - end_user
        expiresIn:
          type: number
        instanceId:
          type: string
        resumeCredential:
          type: string
        credentialExpiresAt:
          type: string
        credentialExpiresIn:
          type: number
      required:
        - endUserToken
        - tokenType
        - expiresIn
        - instanceId
    DeviceRefreshResponse:
      type: object
      properties:
        endUserToken:
          type: string
        expiresIn:
          type: number
        instanceId:
          type: string
        resumeCredential:
          type: string
        credentialExpiresAt:
          type: string
        credentialExpiresIn:
          type: number
        linkExpiresAt:
          type: string
      required:
        - endUserToken
        - expiresIn
        - instanceId
        - resumeCredential
        - credentialExpiresAt
        - credentialExpiresIn
        - linkExpiresAt
    DeviceValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
          enum:
            - true
        sessionId:
          type: string
        instanceId:
          type: string
        orgId:
          type: string
        expiresAt:
          type: string
      required:
        - valid
        - sessionId
        - instanceId
        - orgId
        - expiresAt
    SandboxScenarioWritten:
      type: object
      properties:
        name:
          type: string
        journeyId:
          type: string
        tier:
          type: string
          enum:
            - org
      required:
        - name
        - journeyId
        - tier
    CreateSandboxScenarioRequest:
      type: object
      properties:
        name:
          type: string
          pattern: ^[a-zA-Z0-9_-]{1,64}$
          example: my-scenario
          description: >-
            Scenario identifier, unique per journey (GGO-18332). The same name may exist on other journeys of the org with different content.
        data:
          type: object
          minProperties: 1
          description: >-
            Scenario payload (ScenarioPayload). Requires `modules`; optionally `defaultOutcome`, `description`, and extra passthrough fields. Validated by the store against the same schema the sandbox runtime enforces, so an accepted document is guaranteed runnable.
          example:
            description: Fraud flagged on the second module
            modules:
              idVerification:
                outcome: Pass
                subject: {}
              fraudCheck:
                outcome: Flag
                subject: {}
            defaultOutcome: Complete
      required:
        - name
        - data
      additionalProperties: false
    SandboxScenarioList:
      type: array
      items:
        $ref: '#/components/schemas/SandboxScenarioSummary'
    SandboxScenarioSummary:
      type: object
      properties:
        name:
          type: string
        tier:
          type: string
          enum:
            - platform
            - org
        editable:
          type: boolean
        description:
          type: string
        lastModifiedTime:
          type: string
          format: date-time
          description: When the scenario was last saved (ISO 8601).
        lastModifiedBy:
          type: string
          description: Principal (JWT sub) who last saved the scenario.
          example: user-123
      required:
        - name
        - tier
        - editable
    SandboxScenario:
      type: object
      properties:
        name:
          type: string
        journeyId:
          type: string
        tier:
          type: string
          enum:
            - platform
            - org
        data:
          type: object
          additionalProperties: {}
        lastModifiedTime:
          type: string
          format: date-time
          description: When the scenario was last saved (ISO 8601).
        lastModifiedBy:
          type: string
          description: Principal (JWT sub) who last saved the scenario.
          example: user-123
      required:
        - name
        - journeyId
        - tier
        - data
    UpdateSandboxScenarioRequest:
      type: object
      properties:
        data:
          type: object
          minProperties: 1
          description: >-
            Scenario payload (ScenarioPayload). Requires `modules`; optionally `defaultOutcome`, `description`, and extra passthrough fields. Validated by the store against the same schema the sandbox runtime enforces, so an accepted document is guaranteed runnable.
          example:
            description: Fraud flagged on the second module
            modules:
              idVerification:
                outcome: Pass
                subject: {}
              fraudCheck:
                outcome: Flag
                subject: {}
            defaultOutcome: Complete
      required:
        - data
      additionalProperties: false
    PasswordGrantRequest:
      type: object
      properties:
        client_id:
          type: string
          description: The client ID assigned to your organization.
        client_secret:
          type: string
          description: The client secret assigned to your organization.
        username:
          type: string
          description: The username for API authentication.
        password:
          type: string
          description: The password for API authentication.
        grant_type:
          type: string
          enum:
            - password
          description: Must always be set to 'password'.
      required:
        - client_id
        - client_secret
        - username
        - password
        - grant_type
    ClientCredentialsGrantRequest:
      type: object
      properties:
        client_id:
          type: string
          description: The client ID assigned to your organization.
        client_secret:
          type: string
          description: The client secret assigned to your organization.
        grant_type:
          type: string
          enum:
            - client_credentials
          description: Must always be set to 'client_credentials'.
        scope:
          type: string
          enum:
            - gbg.token
          description: Must always be set to 'gbg.token'.
      required:
        - client_id
        - client_secret
        - grant_type
        - scope
  parameters: {}
paths:
  /v2/captain/journey/start:
    post:
      tags:
        - Journey
      summary: Start a new journey
      description: Creates a new journey instance from a resource definition.
      security:
        - CustomerAccess: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                resourceId:
                  type: string
                  minLength: 1
                  pattern: ^[a-zA-Z0-9_-]+(@[a-zA-Z0-9_.-]+)?$
                context:
                  type: object
                  properties:
                    subject:
                      type: object
                      properties:
                        identity:
                          type: object
                          properties:
                            title:
                              type: string
                              minLength: 1
                              description: Title of an individual such as Mr, Mrs, Dr, Sir
                            firstName:
                              type: string
                              minLength: 1
                              description: A person's name used by their collegues and friends to address them
                            middleNames:
                              type: array
                              items:
                                type: string
                                minLength: 1
                              description: Any other registered names used by the individual, not aliases
                            lastNames:
                              type: array
                              items:
                                type: string
                                minLength: 1
                              minItems: 1
                              description: Any family names for the individual
                            lastNamesAtBirth:
                              type: array
                              items:
                                type: string
                                minLength: 1
                              minItems: 1
                              description: Any family names for the individual
                            aliases:
                              type: array
                              items:
                                type: object
                                properties:
                                  title:
                                    type: string
                                    minLength: 1
                                    description: Title of an individual such as Mr, Mrs, Dr, Sir
                                  firstName:
                                    type: string
                                    minLength: 1
                                    description: A person's name used by their collegues and friends to address them
                                  middleNames:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                    description: Any other registered names used by the individual, not aliases
                                  lastNames:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                    minItems: 1
                                    description: Any family names for the individual
                                  lastNamesAtBirth:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                    minItems: 1
                                    description: Any family names for the individual
                                  fullName:
                                    type: string
                                    minLength: 1
                                    description: >-
                                      The whole name as stated, unsplit into parts — used when the alias has no meaningful name parts
                              description: >-
                                Names the subject is otherwise or was previously known by — applicant-declared, unordered, duplicates permitted
                            relatedPersons:
                              type: array
                              items:
                                type: object
                                properties:
                                  title:
                                    type: string
                                    minLength: 1
                                    description: Title of an individual such as Mr, Mrs, Dr, Sir
                                  firstName:
                                    type: string
                                    minLength: 1
                                    description: A person's name used by their collegues and friends to address them
                                  middleNames:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                    description: Any other registered names used by the individual, not aliases
                                  lastNames:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                    minItems: 1
                                    description: Any family names for the individual
                                  lastNamesAtBirth:
                                    type: array
                                    items:
                                      type: string
                                      minLength: 1
                                    minItems: 1
                                    description: Any family names for the individual
                                  relationship:
                                    type: string
                                    enum:
                                      - mother
                                      - father
                                      - spouse
                                      - maternalGrandFather
                                      - maternalGrandMother
                                      - paternalGrandFather
                                      - paternalGrandMother
                                required:
                                  - relationship
                            dateOfBirth:
                              type: string
                              pattern: ^\d{4}-\d{2}-\d{2}$
                              description: >-
                                Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
                            gender:
                              type: string
                              minLength: 1
                            currentAddress:
                              type: object
                              properties:
                                lines:
                                  type: array
                                  items:
                                    type: string
                                  description: Unformatted line based address
                                addressString:
                                  type: string
                                  description: The address as a single line
                                premise:
                                  type: string
                                  description: >-
                                    The number identifying the property's delivery point on its street — "128", "30A", "8-12". Not the street name (thoroughfare), the unit (subBuilding), or a building or property name (building). Empty for a property identified only by a name.
                                building:
                                  type: string
                                  description: >-
                                    The name of the building, complex, or named property — "Landmark House", "The Shard". Never the street number, in any country; that is premise. A property identified only by a name populates this field with premise left empty.
                                subBuilding:
                                  type: string
                                  description: >-
                                    The unit within the property, such as a flat, apartment or suite number — "FLAT 1", "SUITE 212".
                                thoroughfare:
                                  type: string
                                  description: >-
                                    This field holds the most common street or block data element within a country. For instance, USA Street
                                dependentThoroughfare:
                                  type: string
                                  description: >-
                                    The name of a dependent street or block, such as a street within a complex.
                                locality:
                                  type: string
                                  description: >-
                                    This field holds the most common population center data element within a country. For instance, USA City, Canadian Municipality
                                dependentLocality:
                                  type: string
                                  description: >-
                                    This is a smaller area within a locality, such as a neighborhood or district. Like Manhattan in New York City, or Soho in London.
                                doubleDependentLocality:
                                  type: string
                                  description: >-
                                    This is an even smaller area within a dependent locality, often used in very detailed addresses.
                                postalCode:
                                  type: string
                                  description: >-
                                    This field contains the complete postal code for a particular delivery point, should such detail be able to be determined. For example ZIP code in the US
                                postBox:
                                  type: string
                                  description: >-
                                    This field contains the post box number associated with a particular delivery point, should one exist.
                                country:
                                  type: string
                                  pattern: ^[A-Z]{2,3}$
                                  description: Country the address is in. It must be a valid ISO2 or ISO3 country code
                                superAdministrativeArea:
                                  type: string
                                administrativeArea:
                                  type: string
                                subAdministrativeArea:
                                  type: string
                                organization:
                                  type: string
                                location:
                                  type: object
                                  properties:
                                    latitude:
                                      type: string
                                    longitude:
                                      type: string
                                    geoAccuracy:
                                      type: string
                                    what3words:
                                      type: string
                                      description: >-
                                        A What3words designation associated with this location with '.' separator.
                            previousAddresses:
                              type: array
                              items:
                                type: object
                                properties:
                                  lines:
                                    type: array
                                    items:
                                      type: string
                                    description: Unformatted line based address
                                  addressString:
                                    type: string
                                    description: The address as a single line
                                  premise:
                                    type: string
                                    description: >-
                                      The number identifying the property's delivery point on its street — "128", "30A", "8-12". Not the street name (thoroughfare), the unit (subBuilding), or a building or property name (building). Empty for a property identified only by a name.
                                  building:
                                    type: string
                                    description: >-
                                      The name of the building, complex, or named property — "Landmark House", "The Shard". Never the street number, in any country; that is premise. A property identified only by a name populates this field with premise left empty.
                                  subBuilding:
                                    type: string
                                    description: >-
                                      The unit within the property, such as a flat, apartment or suite number — "FLAT 1", "SUITE 212".
                                  thoroughfare:
                                    type: string
                                    description: >-
                                      This field holds the most common street or block data element within a country. For instance, USA Street
                                  dependentThoroughfare:
                                    type: string
                                    description: >-
                                      The name of a dependent street or block, such as a street within a complex.
                                  locality:
                                    type: string
                                    description: >-
                                      This field holds the most common population center data element within a country. For instance, USA City, Canadian Municipality
                                  dependentLocality:
                                    type: string
                                    description: >-
                                      This is a smaller area within a locality, such as a neighborhood or district. Like Manhattan in New York City, or Soho in London.
                                  doubleDependentLocality:
                                    type: string
                                    description: >-
                                      This is an even smaller area within a dependent locality, often used in very detailed addresses.
                                  postalCode:
                                    type: string
                                    description: >-
                                      This field contains the complete postal code for a particular delivery point, should such detail be able to be determined. For example ZIP code in the US
                                  postBox:
                                    type: string
                                    description: >-
                                      This field contains the post box number associated with a particular delivery point, should one exist.
                                  country:
                                    type: string
                                    pattern: ^[A-Z]{2,3}$
                                    description: Country the address is in. It must be a valid ISO2 or ISO3 country code
                                  superAdministrativeArea:
                                    type: string
                                  administrativeArea:
                                    type: string
                                  subAdministrativeArea:
                                    type: string
                                  organization:
                                    type: string
                                  location:
                                    type: object
                                    properties:
                                      latitude:
                                        type: string
                                      longitude:
                                        type: string
                                      geoAccuracy:
                                        type: string
                                      what3words:
                                        type: string
                                        description: >-
                                          A What3words designation associated with this location with '.' separator.
                                  fromDate:
                                    type: string
                                    pattern: ^\d{4}-\d{2}-\d{2}$
                                    description: >-
                                      Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
                                  toDate:
                                    type: string
                                    pattern: ^\d{4}-\d{2}-\d{2}$
                                    description: >-
                                      Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
                            placeOfBirth:
                              type: object
                              properties:
                                lines:
                                  type: array
                                  items:
                                    type: string
                                  description: Unformatted line based address
                                addressString:
                                  type: string
                                  description: The address as a single line
                                premise:
                                  type: string
                                  description: >-
                                    The number identifying the property's delivery point on its street — "128", "30A", "8-12". Not the street name (thoroughfare), the unit (subBuilding), or a building or property name (building). Empty for a property identified only by a name.
                                building:
                                  type: string
                                  description: >-
                                    The name of the building, complex, or named property — "Landmark House", "The Shard". Never the street number, in any country; that is premise. A property identified only by a name populates this field with premise left empty.
                                subBuilding:
                                  type: string
                                  description: >-
                                    The unit within the property, such as a flat, apartment or suite number — "FLAT 1", "SUITE 212".
                                thoroughfare:
                                  type: string
                                  description: >-
                                    This field holds the most common street or block data element within a country. For instance, USA Street
                                dependentThoroughfare:
                                  type: string
                                  description: >-
                                    The name of a dependent street or block, such as a street within a complex.
                                locality:
                                  type: string
                                  description: >-
                                    This field holds the most common population center data element within a country. For instance, USA City, Canadian Municipality
                                dependentLocality:
                                  type: string
                                  description: >-
                                    This is a smaller area within a locality, such as a neighborhood or district. Like Manhattan in New York City, or Soho in London.
                                doubleDependentLocality:
                                  type: string
                                  description: >-
                                    This is an even smaller area within a dependent locality, often used in very detailed addresses.
                                postalCode:
                                  type: string
                                  description: >-
                                    This field contains the complete postal code for a particular delivery point, should such detail be able to be determined. For example ZIP code in the US
                                postBox:
                                  type: string
                                  description: >-
                                    This field contains the post box number associated with a particular delivery point, should one exist.
                                country:
                                  type: string
                                  pattern: ^[A-Z]{2,3}$
                                  description: Country the address is in. It must be a valid ISO2 or ISO3 country code
                                superAdministrativeArea:
                                  type: string
                                administrativeArea:
                                  type: string
                                subAdministrativeArea:
                                  type: string
                                organization:
                                  type: string
                                location:
                                  type: object
                                  properties:
                                    latitude:
                                      type: string
                                    longitude:
                                      type: string
                                    geoAccuracy:
                                      type: string
                                    what3words:
                                      type: string
                                      description: >-
                                        A What3words designation associated with this location with '.' separator.
                            idNumbers:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: The type of phone number, such as landline, mobile, fax, unknown etc
                                  idNumber:
                                    type: string
                                    minLength: 1
                                    description: >-
                                      ID number eg, National Insurance Number in UK, Social Securtiy Number in US
                                  country:
                                    type: string
                                    pattern: ^[A-Z]{2,3}$
                                    description: Country the address is in. It must be a valid ISO2 or ISO3 country code
                                required:
                                  - type
                                  - idNumber
                            phones:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: The type of phone number, such as landline, mobile, fax, unknown etc
                                  number:
                                    type: string
                                    minLength: 1
                                    description: Phone number, ideally in international format with +(Country Code)
                                required:
                                  - type
                                  - number
                            emails:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: >-
                                      Email type discriminator. Canonical values: 'personal', 'work', 'home', 'other'. Three map to a domain element by exact match: 'personal' -> PersonalEmail, 'work' -> WorkEmail, 'other' -> OtherEmails (the domainElementId used to collect them). 'home' is the only canonical value with no domain element: a 'home' email is accepted and stored but cannot be retrieved through any v2 read (it matches no getter); use 'personal', 'work' or 'other' to have the email surfaced. Legacy inputs normalize at the API boundary (e.g. 'email' -> 'personal').
                                  email:
                                    type: string
                                    minLength: 1
                                    format: email
                                    description: Email address
                                required:
                                  - type
                                  - email
                            socials:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    description: >-
                                      An agreed standardised name for the social media platform this identity relates to such as Facebook, Twitter, unknown etc
                                  identity:
                                    type: string
                                    minLength: 1
                                    description: the identity used on this platform
                                required:
                                  - type
                                  - identity
                            mothersMaidenName:
                              type: string
                              minLength: 1
                              description: The subject's mother's maiden name, used for identity verification
                            nationality:
                              type: string
                              pattern: ^[A-Z]{2,3}$
                              description: Country the address is in. It must be a valid ISO2 or ISO3 country code
                        entities:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              type:
                                type: string
                                enum:
                                  - primary
                              name:
                                type: string
                              aliases:
                                type: array
                                items:
                                  type: string
                              businessType:
                                type: string
                              status:
                                type: string
                                enum:
                                  - active
                                  - suspended
                                  - dormant
                                  - dissolved
                                  - struckOff
                                  - unknown
                              description:
                                type: string
                              addresses:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    lines:
                                      type: array
                                      items:
                                        type: string
                                      description: Unformatted line based address
                                    addressString:
                                      type: string
                                      description: The address as a single line
                                    premise:
                                      type: string
                                      description: >-
                                        The number identifying the property's delivery point on its street — "128", "30A", "8-12". Not the street name (thoroughfare), the unit (subBuilding), or a building or property name (building). Empty for a property identified only by a name.
                                    building:
                                      type: string
                                      description: >-
                                        The name of the building, complex, or named property — "Landmark House", "The Shard". Never the street number, in any country; that is premise. A property identified only by a name populates this field with premise left empty.
                                    subBuilding:
                                      type: string
                                      description: >-
                                        The unit within the property, such as a flat, apartment or suite number — "FLAT 1", "SUITE 212".
                                    thoroughfare:
                                      type: string
                                      description: >-
                                        This field holds the most common street or block data element within a country. For instance, USA Street
                                    dependentThoroughfare:
                                      type: string
                                      description: >-
                                        The name of a dependent street or block, such as a street within a complex.
                                    locality:
                                      type: string
                                      description: >-
                                        This field holds the most common population center data element within a country. For instance, USA City, Canadian Municipality
                                    dependentLocality:
                                      type: string
                                      description: >-
                                        This is a smaller area within a locality, such as a neighborhood or district. Like Manhattan in New York City, or Soho in London.
                                    doubleDependentLocality:
                                      type: string
                                      description: >-
                                        This is an even smaller area within a dependent locality, often used in very detailed addresses.
                                    postalCode:
                                      type: string
                                      description: >-
                                        This field contains the complete postal code for a particular delivery point, should such detail be able to be determined. For example ZIP code in the US
                                    postBox:
                                      type: string
                                      description: >-
                                        This field contains the post box number associated with a particular delivery point, should one exist.
                                    country:
                                      type: string
                                      pattern: ^[A-Z]{2,3}$
                                      description: >-
                                        Country the address is in. It must be a valid ISO2 or ISO3 country code
                                    superAdministrativeArea:
                                      type: string
                                    administrativeArea:
                                      type: string
                                    subAdministrativeArea:
                                      type: string
                                    organization:
                                      type: string
                                    location:
                                      type: object
                                      properties:
                                        latitude:
                                          type: string
                                        longitude:
                                          type: string
                                        geoAccuracy:
                                          type: string
                                        what3words:
                                          type: string
                                          description: >-
                                            A What3words designation associated with this location with '.' separator.
                                    purpose:
                                      type: string
                                      enum:
                                        - registered
                                        - mailing
                                        - site
                                        - agent
                                        - headquarters
                              taxIdentifiers:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - TIN
                                        - EIN
                                    value:
                                      type: string
                                    country:
                                      type: string
                                      pattern: ^[A-Z]{2,3}$
                                      description: >-
                                        Country the address is in. It must be a valid ISO2 or ISO3 country code
                                  required:
                                    - type
                                    - value
                              companyNumber:
                                type: string
                              industryClassifications:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    system:
                                      type: string
                                      enum:
                                        - naics2017
                                        - naics2022
                                        - sic
                                        - mcc
                                    code:
                                      type: string
                                    description:
                                      type: string
                                  required:
                                    - system
                                    - code
                              registrations:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    jurisdiction:
                                      type: string
                                    registrationType:
                                      type: string
                                      enum:
                                        - domestic
                                        - foreign
                                        - unknown
                                    fileNumber:
                                      type: string
                                    issueDate:
                                      type: string
                                      pattern: ^\d{4}-\d{2}-\d{2}$
                                      description: >-
                                        Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
                                    registeredAddress:
                                      type: object
                                      properties:
                                        lines:
                                          type: array
                                          items:
                                            type: string
                                          description: Unformatted line based address
                                        addressString:
                                          type: string
                                          description: The address as a single line
                                        premise:
                                          type: string
                                          description: >-
                                            The number identifying the property's delivery point on its street — "128", "30A", "8-12". Not the street name (thoroughfare), the unit (subBuilding), or a building or property name (building). Empty for a property identified only by a name.
                                        building:
                                          type: string
                                          description: >-
                                            The name of the building, complex, or named property — "Landmark House", "The Shard". Never the street number, in any country; that is premise. A property identified only by a name populates this field with premise left empty.
                                        subBuilding:
                                          type: string
                                          description: >-
                                            The unit within the property, such as a flat, apartment or suite number — "FLAT 1", "SUITE 212".
                                        thoroughfare:
                                          type: string
                                          description: >-
                                            This field holds the most common street or block data element within a country. For instance, USA Street
                                        dependentThoroughfare:
                                          type: string
                                          description: >-
                                            The name of a dependent street or block, such as a street within a complex.
                                        locality:
                                          type: string
                                          description: >-
                                            This field holds the most common population center data element within a country. For instance, USA City, Canadian Municipality
                                        dependentLocality:
                                          type: string
                                          description: >-
                                            This is a smaller area within a locality, such as a neighborhood or district. Like Manhattan in New York City, or Soho in London.
                                        doubleDependentLocality:
                                          type: string
                                          description: >-
                                            This is an even smaller area within a dependent locality, often used in very detailed addresses.
                                        postalCode:
                                          type: string
                                          description: >-
                                            This field contains the complete postal code for a particular delivery point, should such detail be able to be determined. For example ZIP code in the US
                                        postBox:
                                          type: string
                                          description: >-
                                            This field contains the post box number associated with a particular delivery point, should one exist.
                                        country:
                                          type: string
                                          pattern: ^[A-Z]{2,3}$
                                          description: >-
                                            Country the address is in. It must be a valid ISO2 or ISO3 country code
                                        superAdministrativeArea:
                                          type: string
                                        administrativeArea:
                                          type: string
                                        subAdministrativeArea:
                                          type: string
                                        organization:
                                          type: string
                                        location:
                                          type: object
                                          properties:
                                            latitude:
                                              type: string
                                            longitude:
                                              type: string
                                            geoAccuracy:
                                              type: string
                                            what3words:
                                              type: string
                                              description: >-
                                                A What3words designation associated with this location with '.' separator.
                                    agentName:
                                      type: string
                                    agentAddress:
                                      type: object
                                      properties:
                                        lines:
                                          type: array
                                          items:
                                            type: string
                                          description: Unformatted line based address
                                        addressString:
                                          type: string
                                          description: The address as a single line
                                        premise:
                                          type: string
                                          description: >-
                                            The number identifying the property's delivery point on its street — "128", "30A", "8-12". Not the street name (thoroughfare), the unit (subBuilding), or a building or property name (building). Empty for a property identified only by a name.
                                        building:
                                          type: string
                                          description: >-
                                            The name of the building, complex, or named property — "Landmark House", "The Shard". Never the street number, in any country; that is premise. A property identified only by a name populates this field with premise left empty.
                                        subBuilding:
                                          type: string
                                          description: >-
                                            The unit within the property, such as a flat, apartment or suite number — "FLAT 1", "SUITE 212".
                                        thoroughfare:
                                          type: string
                                          description: >-
                                            This field holds the most common street or block data element within a country. For instance, USA Street
                                        dependentThoroughfare:
                                          type: string
                                          description: >-
                                            The name of a dependent street or block, such as a street within a complex.
                                        locality:
                                          type: string
                                          description: >-
                                            This field holds the most common population center data element within a country. For instance, USA City, Canadian Municipality
                                        dependentLocality:
                                          type: string
                                          description: >-
                                            This is a smaller area within a locality, such as a neighborhood or district. Like Manhattan in New York City, or Soho in London.
                                        doubleDependentLocality:
                                          type: string
                                          description: >-
                                            This is an even smaller area within a dependent locality, often used in very detailed addresses.
                                        postalCode:
                                          type: string
                                          description: >-
                                            This field contains the complete postal code for a particular delivery point, should such detail be able to be determined. For example ZIP code in the US
                                        postBox:
                                          type: string
                                          description: >-
                                            This field contains the post box number associated with a particular delivery point, should one exist.
                                        country:
                                          type: string
                                          pattern: ^[A-Z]{2,3}$
                                          description: >-
                                            Country the address is in. It must be a valid ISO2 or ISO3 country code
                                        superAdministrativeArea:
                                          type: string
                                        administrativeArea:
                                          type: string
                                        subAdministrativeArea:
                                          type: string
                                        organization:
                                          type: string
                                        location:
                                          type: object
                                          properties:
                                            latitude:
                                              type: string
                                            longitude:
                                              type: string
                                            geoAccuracy:
                                              type: string
                                            what3words:
                                              type: string
                                              description: >-
                                                A What3words designation associated with this location with '.' separator.
                              corporateStructure:
                                type: string
                              persons:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      minLength: 1
                                      description: Title of an individual such as Mr, Mrs, Dr, Sir
                                    firstName:
                                      type: string
                                      minLength: 1
                                      description: A person's name used by their collegues and friends to address them
                                    middleNames:
                                      type: array
                                      items:
                                        type: string
                                        minLength: 1
                                      description: Any other registered names used by the individual, not aliases
                                    lastNames:
                                      type: array
                                      items:
                                        type: string
                                        minLength: 1
                                      minItems: 1
                                      description: Any family names for the individual
                                    lastNamesAtBirth:
                                      type: array
                                      items:
                                        type: string
                                        minLength: 1
                                      minItems: 1
                                      description: Any family names for the individual
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                        - primary
                                    role:
                                      type: string
                                      enum:
                                        - ultimateBeneficialOwner
                                        - director
                                        - officer
                                        - secretary
                                        - shareholder
                                        - partner
                                    position:
                                      type: string
                                    ownershipPercentage:
                                      type: number
                                      minimum: 0
                                      maximum: 100
                                    nationality:
                                      type: string
                                      pattern: ^[A-Z]{2,3}$
                                      description: >-
                                        Country the address is in. It must be a valid ISO2 or ISO3 country code
                                    dateOfBirth:
                                      anyOf:
                                        - type: string
                                          pattern: ^\d{4}-\d{2}-\d{2}$
                                          description: >-
                                            Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
                                        - type: string
                                          pattern: ^\d{4}-\d{2}$
                                          description: 'Year and month in ISO 8601 format: YYYY-MM'
                                    startDate:
                                      type: string
                                      pattern: ^\d{4}-\d{2}-\d{2}$
                                      description: >-
                                        Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
                                    endDate:
                                      type: string
                                      pattern: ^\d{4}-\d{2}-\d{2}$
                                      description: >-
                                        Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
                                    currentAddress:
                                      type: object
                                      properties:
                                        lines:
                                          type: array
                                          items:
                                            type: string
                                          description: Unformatted line based address
                                        addressString:
                                          type: string
                                          description: The address as a single line
                                        premise:
                                          type: string
                                          description: >-
                                            The number identifying the property's delivery point on its street — "128", "30A", "8-12". Not the street name (thoroughfare), the unit (subBuilding), or a building or property name (building). Empty for a property identified only by a name.
                                        building:
                                          type: string
                                          description: >-
                                            The name of the building, complex, or named property — "Landmark House", "The Shard". Never the street number, in any country; that is premise. A property identified only by a name populates this field with premise left empty.
                                        subBuilding:
                                          type: string
                                          description: >-
                                            The unit within the property, such as a flat, apartment or suite number — "FLAT 1", "SUITE 212".
                                        thoroughfare:
                                          type: string
                                          description: >-
                                            This field holds the most common street or block data element within a country. For instance, USA Street
                                        dependentThoroughfare:
                                          type: string
                                          description: >-
                                            The name of a dependent street or block, such as a street within a complex.
                                        locality:
                                          type: string
                                          description: >-
                                            This field holds the most common population center data element within a country. For instance, USA City, Canadian Municipality
                                        dependentLocality:
                                          type: string
                                          description: >-
                                            This is a smaller area within a locality, such as a neighborhood or district. Like Manhattan in New York City, or Soho in London.
                                        doubleDependentLocality:
                                          type: string
                                          description: >-
                                            This is an even smaller area within a dependent locality, often used in very detailed addresses.
                                        postalCode:
                                          type: string
                                          description: >-
                                            This field contains the complete postal code for a particular delivery point, should such detail be able to be determined. For example ZIP code in the US
                                        postBox:
                                          type: string
                                          description: >-
                                            This field contains the post box number associated with a particular delivery point, should one exist.
                                        country:
                                          type: string
                                          pattern: ^[A-Z]{2,3}$
                                          description: >-
                                            Country the address is in. It must be a valid ISO2 or ISO3 country code
                                        superAdministrativeArea:
                                          type: string
                                        administrativeArea:
                                          type: string
                                        subAdministrativeArea:
                                          type: string
                                        organization:
                                          type: string
                                        location:
                                          type: object
                                          properties:
                                            latitude:
                                              type: string
                                            longitude:
                                              type: string
                                            geoAccuracy:
                                              type: string
                                            what3words:
                                              type: string
                                              description: >-
                                                A What3words designation associated with this location with '.' separator.
                              incorporationDate:
                                type: string
                                pattern: ^\d{4}-\d{2}-\d{2}$
                                description: >-
                                  Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
                              dissolutionDate:
                                type: string
                                pattern: ^\d{4}-\d{2}-\d{2}$
                                description: >-
                                  Specified in year, month and day separated by -.  For example 2017-1-1 or 2017-01-01 which conforms to ISO 8601
                              phones:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      description: The type of phone number, such as landline, mobile, fax, unknown etc
                                    number:
                                      type: string
                                      minLength: 1
                                      description: Phone number, ideally in international format with +(Country Code)
                                  required:
                                    - type
                                    - number
                              websites:
                                type: array
                                items:
                                  type: string
                                  format: uri
                              headcount:
                                type: integer
                                minimum: 0
                              isNonProfit:
                                type: boolean
                        documents:
                          type: array
                          items:
                            type: object
                            properties:
                              oneDBarcode:
                                type: string
                              address:
                                type: object
                                properties:
                                  addressString:
                                    type: string
                                  extractedAddressString:
                                    type: string
                                  addressLine1:
                                    type: string
                                  addressLine2:
                                    type: string
                                  locality:
                                    type: string
                                  administrativeArea:
                                    type: string
                                  postalCode:
                                    type: string
                              applicationDate:
                                type: string
                              applicationNumber:
                                type: string
                              dateOfBirth:
                                type: string
                              placeOfBirth:
                                type: string
                              placeOfBirthNative:
                                type: string
                              bloodType:
                                type: string
                              controlNumber:
                                type: string
                              countryCode:
                                type: string
                              countryName:
                                type: string
                              documentClassCode:
                                type: string
                              documentClassName:
                                type: string
                              documentNumber:
                                type: string
[...]
